<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册界面</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/addUserPage.css}" />
</head>
<body>
    <form id="addPageForm">
        <table>
            <input th:hidden="hidden" th:id="openId" th:value="${openId}" />
            <tbody>
            <tr>
                <td>账号：</td>
                <td><input th:type="text" th:id="name" th:name="name" /></td>
                <td><font color="red">*</font></td>
            </tr>
            <tr>
                <td>请输入密码：</td>
                <td><input th:type="password" th:id="password" th:name="password" /></td>
                <td><font color="red">*</font></td>
            </tr>
            <tr>
                <td>请再次输入密码：</td>
                <td><input th:type="password" th:id="repassword" th:name="repassword" /></td>
                <td><font color="red">*</font></td>
            </tr>
            <tr>
                <td><input th:type="button" onclick="addUser()" th:value="注册" /></td>
                <td><input th:type="button" onclick="cancelAddUser()" th:value="取消" /></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
<script>

    function addUser() {
        var openId = $("#openId").val();

        var name = $("#name").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();
        if(name == "" || name == undefined){
            alert("账号不能为空");
            return false;
        }
        if(password == "" || password == undefined){
            alert("密码不能为空");
            return false;
        }
        if(repassword == "" || repassword == undefined){
            alert("密码不能为空");
            return false;
        }
        if(password != repassword){
            alert("两次密码输入不一致");
            return false;
        }
        var userArray = {};
        userArray["openId"] = openId;
        userArray["name"] = name;
        userArray["password"] = password;
        userArray["repassword"] = repassword;
        $.ajax({
            url:"/addUser",
            type:"post",
            dataType:"json",
            contentType: "application/json",
            async: false,
            data:JSON.stringify(userArray),
            success:function callbackFun(data){
                //解析json
                alert(data.responseDesc);
                if(data.responseCode == 200){
                    setTimeout(function(){
                        //window.close();
//                        window.history.back();
                        userArray = {};
                        window.location.href ="/mainPage";
                    },500);
                }
            },
            error:function(data){
                alert(data);
            }
        });

    }

    function cancelAddUser() {
        $("#name").val("");
        $("#password").val("");
        $("#repassword").val("");
    }
</script>
</html>